a.phone {
    text-decoration: none;
}

a.phone:hover {
    text-decoration: none;
}

a.phone:active {
    text-decoration: none;
}

a.phone:visited {
    text-decoration: none;
}

a.phone-black {
    color: #020202;
}

a.phone-white {
    color: white;
}

.img-round-50 {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.img-round-20 {
    border-radius: 20%;
    /*max-width: 400px;*/
    /*max-height: 400px;*/
    margin-left: auto;
    margin-right: auto;
}

.panel-black {
    color: #020202 !important;
}

.more-info:hover {
    text-decoration: none !important;
    color: #f7f7f7 !important;
}

.more-info:active {
    text-decoration: none !important;
    color: #f7f7f7 !important;
}

.more-info:visited {
    text-decoration: none !important;
    color: #f7f7f7 !important;
}

.header-custom {
    color: white;
    border-radius: 100px;
    background-color: rgba(22, 102, 161, 0.40);

}